@media screen and (min-width:600px){ 
.kode_levnav  
      { 
position: relative;
height:50em;
 background-color: black;
 width: 25em;
 box-shadow: 1px 1px 10px white;
 
}  
.mypicprofile .gambarku {
      position: relative;
      width: 100%;
      height: auto;
      background-repeat: no-repeat;
      border: 4px solid white;
      box-sizing: border-box;
      border-radius: 180px;
      box-shadow: 1px 1px 16px white;

}

.mypicprofile {
      
     
      margin-left: auto;
      margin-right: auto;
      width: 189px;
}
.gambarku
{
      
      margin-top: 25px;
}
.bgimage {

      background-size: cover;
      height:50em;
     
     
}
.backkode {
      position: absolute;
      left: 20em;
      background-position:right;
     
}
.icon:hover {

      width: 35px;
     
      filter: drop-shadow(4px 4px 10px blue);


}
.icon {
      
      width: 30px;
      height: 30px;
      margin-bottom: 27px;
      
      
  
  }
.info:hover {
      color: #834BF4;
    
      text-shadow: 4px 4px 10px blue;
      cursor: pointer;
      
}
.menu-icon {
      margin-top: 30px;
}

  
  
  .iconku{
     margin-left: 6em;
     
  }
  .Menu-name {
      margin-left: 10em;
     margin-top: -14.9em;
    
  }
  .info {
     
      color: white;
      margin:0px 0px 35px 0px;
      
  }
  .profilename {
  text-align: center;
      color: white;
      
  }
 
  .introtext {
      text-shadow: 1px 1px 4px black;     
      color: white;
      font-size: 4.5vh;
      
     
  }
  .kotakkanan{
      position: relative;
      font-family: Arial, Helvetica, sans-serif;
      
    width: 63em; 
      height: 50em;
      top: -48em;
      left: 31em;
     
      
   
       /* filter: opacity(50%);  */
  }
  .paragraftintro {
      font-size: 15px;
      text-shadow: 1px 1px 4px black;
      color: white;
}
 .sosmed {
    width: 30px;  
    height: auto;
    margin-left: 10px;
 }
 .sosbox {
      /* background-color: red; */
      width: 6em;
      margin-left: auto;
      margin-right: auto;
 }
}