.App-logo {
  width: auto;
  position: absolute;
  align-items: center;
  background-position: center;
  background-size: cover;
  filter: contrast(78%);
  filter: brightness(90%);

}

.App-link {
  color: #61dafb;
}




